@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #d5e1ef;
  }
  
  div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 18px;
    font-weight: bold;
    color: #1f2c45;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #6c7c8d;
    line-height: 1.5;
  }


    
    



